{% extends "base.html" %}

	{% block title %}Pint - Account Settings{% endblock title %}

	{% block header %}
	<h1>Pint</h1>
	<cite>&#8220;Share and share alike.&#8221;</cite>
	{% endblock header %}

	{% block firstpanel %}
	<div class="navbox">
		<div class="title">
			<h3>All you can do</h3>
		</div>
		<div class="content">
			<ul>
				<li>Change your nickname...</li>
				<li>Add friends to your list.</li>
				<li>Remove friends also.<br>(it's on the way)</li>
			</ul>
		</div>
	</div>
	{% endblock firstpanel %}
	
	{% block tabmenu %}
		<li><a href="/">Pints</a></li>
		<li><a href="/account_settings" id="current">Account Settings</a></li>
	{% endblock tabmenu %}
	
	{% block maincontent %}
	<form action="/account_settings/post" method="post" class="composer">
		<div>
			<p>Want to change your nickname ?</p>
			<input name="nickname" type="text" value={{ user_account.nickname }}>
		</div>
	  	<div>
			<p>Adding a Friend ?</p>
			<input name="friend_added" type="text">
			<input type="submit" value="ok">
	    </div>
	</form>
	{% endblock maincontent %}
