{% extends "base.html" %}

	{% block title %}Pint - Account Settings{% endblock %}

	{% block top %}
	<h1>Pint</h1>
	<cite>&#8220;Share and share alike.&#8221;</cite>
	{% endblock %}

	{% block leftblocs %}
	<div class="navbox">
		<div class="title">
			<h3>Settings</h3>
		</div>
		<div class="content">
            <p>Welcome to your control panel!</p>
            <p>Here you can change your profile and the way you want the site to work for you.</p>
            <p>Change your nick, add posters you want to follow, or even remove them if you're mean...but do whatever you want, it's your profile ;)</p>
		</div>
	</div>
	{% endblock %}
	
	{% block tabmenu %}
		<li><a href="/">Pints</a></li>
		<li><a href="/account_settings" id="current">Account Settings</a></li>
	{% endblock %}
	
	{% block maincontent %}
	<form action="/account_settings/post" method="post" class="composer">
		<div>
			<p>Enter a new nick if you wish: </p>
			<input name="nickname" type="text" value={{ user_account.nickname }}>
		</div>
	  	<div>
			<p>Any one you want to follow?</p>
			<input name="friend_added" type="text">
			<input type="submit" value="ok">
	    </div>
	</form>
	{% endblock %}
