<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<title>{% block title %}Pint{% endblock %}</title>
</head>

<body>	
	<div id="mainbox">
		<div id="top">
		{% block top %}
			{% ifequal user_status "anon" %}
			<a href="{{ log_url }}" class="loglink">Login</a>
			{% else %}
			<a href="{{ log_url }}" class="loglink">Logout</a>
			{% endifequal %}
			<h1>Pint</h1>
			<cite>&#8220;Share and share alike.&#8221;</cite>
		{% endblock %}
		</div>

		<div id="rightnav">
		{% block leftblocs %}
			{% ifnotequal user_status "anon" %}
			<div class="navbox">"
				<div class="title">
					<h3>Hi!</h3>
				</div>
				<div class="content">
					<p>Share and Enjoy!</p>
				</div>
			</div>
			{% endifnotequal %}
		{% endblock %}

		{% ifnotequal user_status "anon" %}
			{% if is_admin %}
			<div class="navbox">
				<div class="title">
					<h3>Admin</h3>
				</div>
				<div class="content">
					<ul>
						<li><a href="http://appengine.google.com/logs?&app_id=pintme">Logs</li>
						<li><a href="http://appengine.google.com/datastore/explorer?&app_id=pintme">Data Viewer</a></li>
						<li><a href="http://appengine.google.com/dashboard?&app_id=pintme">Dashboard</a></li>
						<li><a href="http://appengine.google.com/adminlogs?&app_id=pintme">Admin Logs</a></li>
					</ul>
					</div>
			</div>
			{% endif %}
		{% else %}
			<div class="navbox">
				<div class="title">
					<h3>Hi!</h3>
				</div>
				<div class="content">
					<p>Share and Enjoy!</p>
					<p>(Login to start :)</p>
				</div>
			</div>
		{% endifnotequal %}

			<div class="navbox">
				<div class="title">
					<h3>Info</h3>
				</div>
				<div class="content">
				{% ifnotequal user_status "anon" %}
					<div>
						<h4>Following</h4>
					{% for followed in followed_list %}
							<a>{{ followed.nickname }}</a>
							<br>
					{% endfor %}
					</div>
					<div>
						<h4>Followers</h4>
					{% for follower in followers_list %}
							<a>{{ follower.nickname }}</a>
							<br>
					{% endfor %}
					</div>
				{% else %}
					<div>
						<p>Information! Yay!</p>
					</div>
				{% endifnotequal %}
				</div>
			</div>
		</div>

		<div id="maincontent">
			<ul id="tabmenu">
			{% block tabmenu %}
				<li><a href="/" id="current">Pints</a></li>
				{% ifequal user_status "registered" %}
				<li><a href="/account_settings">Account Settings</a></li>
				{% endifequal %}
			{% endblock %}
			</ul>

			{% block maincontent %}
			{% endblock %}

		</div>
		<ul id="footer">
			<li>&copy; 2009</li>
			<li><a href="/about">About</a></li>
		</ul>
	</div>

	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try
		{
			var pageTracker = _gat._getTracker("UA-7258394-1");
			pageTracker._trackPageview();
		} catch(err) {}
	</script>
</body>
</html>
