<html>
  <head>
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<link rel="shortcut icon" href="stylesheets/pint.ico" />
	<title>{{ subtitle }}</title>
  </head>
  <body>
	{% if is_admin %}
	<div id="admin">
		<ul>
			<li><a href="http://appengine.google.com/datastore/explorer?&app_id=neopownce">Data Viewer</a></li>
			<li><a href="http://appengine.google.com/dashboard?&app_id=neopownce">Dashboard</a></li>
			<li><a href="http://appengine.google.com/adminlogs?&app_id=neopownce">Admin Logs</a></li>
		</ul>
	</div>
	{% endif %}
	
	<div id="header">
		<b>P</b>int <b>I</b>s <b>N</b>ot <b>T</b>witter...<a href="{{ url }}">{{ url_linktext }}</a>
		<br>
		<h4>{{ subtitle }}</h4>
	</div>


	{% if not anon %}
	<div class="sysmessage">
		Share and Enjoy!
	</div>

		{% if unknown_user %}
		<form action="/register" method="post" class="composer">
			<div id="unknown_user">New? Enter a nickname...
				<input name="nickname" type="text" name="nickname" value="Nickname">
				<input type="submit" value="ok">
			</div>
		</form>
		{% else %}
		<form action="/post" method="post" class="composer">
		  <div>
			Your message :
		  	<textarea name="content" rows="3" cols="40"></textarea>
		  	<input type="submit" value="Send">
		  </div>
		</form> 
		{% endif %}

	{% else %}
	<div class="sysmessage">
		Share and Enjoy!
		<br/>
		(Login to start :)
	</div>
	{% endif %}

	{% for message in messages %}
	<div class="message">
		<blockquote>
			<p>{{ message.content|escape }}</p>
		</blockquote>
		<cite class="{% cycle left,right %}">
			{% for author in authors %}
				{% ifequal message.author author.user %}
					<b>{{ author.nickname }}</b>
				{% endifequal %}
			{% endfor %}
		</cite>
	  </div>
	{% endfor %}

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7258394-1");
pageTracker._trackPageview();
} catch(err) {}</script>
  </body>
</html>
