{% extends "base.html" %}

	{% block title %}Pint - {{ user.nickname }}{% endblock %}
	
	{% block top %}
	<h1>Pint</h1>
	<cite>&#8220;Share and share alike.&#8221;</cite>
	{% endblock %}
	
	{% block leftblocs %}
	<div class="navbox">
		<div class="title">
			<h3>Profil</h3>
		</div>
		<div class="content">
            <p>This is {{ user.nickname }}'s profil page.</p>
			<p>Here you can find some informations about him.</p>
		</div>
	</div>
	{% endblock %}
	
	{% block following %}
	{% endblock %}
	
	{% block tabmenu %}
		<li><a href="/">Pints</a></li>
		<li><a href="" id="current">Profil</a></li>
	{% endblock %}
	
	{% block maincontent %}
		<h2>{{ user.nickname }}</h2>
		<div class="message">
			<cite>
				<b>Following</b>
			</cite>
			<blockquote>
			<p>
			{% for followed in followed_list %}
					<a href="/profil/{{ followed.nickname }}">{{ followed.nickname }}</a>
			{% endfor %}
			</p>
			</blockquote>
		</div>
		<div class="message">
			<cite>
				<b>Followers</b>
			</cite>
			<blockquote>
			<p>
			{% for follower in followers_list %}
				<a href="/profil/{{ follower.nickname }}">{{ follower.nickname }}</a>
			{% endfor %}
			</p>
			</blockquote>
		</div>

		<p>Last messages:</p>
		{% for message in messages %}
        <div class="message">
            {{ message.date.date }}
            {{ message.date.hour }}:{{ message.date.minute }}
            <blockquote>
                <p>{{ message.content|escape }}</p>
            </blockquote>
        </div>
        {% endfor %}
	{% endblock %}