{% extends "base.html" %}

	{% block title %}Pint - {{ user.nickname }}{% endblock %}
		
	{% block leftblocs %}
		<div class="messagebox">
			<div class="messagebox-top"><div></div></div>
				<div class="messagebox-content">
					<div class="title">
						<h3>About!</h3>
					</div>
					<div class="content">
					</div>
				</div>
			<div class="messagebox-bottom"><div></div></div>
		</div>
	{% endblock %}
		
	{% block tabs %}
		<li><a href="/">Pints</a></li>
		<li><a href="" id="current">Profile</a></li>
	{% endblock %}
	
	{% block main %}
		<h1>About us</h1>
		<p>As addicted but far from asocial web geeks, when we discover a new gem online, or have some cool media or thoughts, we want to easily share it with friends and when Pownce was still up and running, our personnal sharing needs were satisfied.</p>
		<p>When Pownce went down, we turned to Twitter, only to see our communication throttled to 140 characters, and while other sites like Jaiku or Friend Feed did allow longer messages with richer content, the social side of sharing didn't please us.</p>
		<p>As for sites like Facebook, their content is generated mostly from the inside and "applications", the objective of which has yet to be demonstrated</p>
		<p>Pint is our answer to the gap in between all those sites, the bridge which we feel, joins different points of view.</p>
	{% endblock %}