<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<link type="text/css" rel="stylesheet" href="/stylesheets/frame.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/colors.css" />
	<title>{% block title %}Pint{% endblock %}</title>
</head>

<body>
	<div id="topbox">
		<ul id="userbox">
			{% ifequal user_status "anon" %}
			<li><a href="/login" class="loglink">Login</a></li>
			{% else %}
                <li>{{ usernick }} :: </li>
                <li><a href="/" {% ifequal tab "home" %}id="currentTab"{% endifequal %}>Home</a></li>
				<li><a href="/user/{{ usernick }}" {% ifequal tab "profile" %}id="currentTab"{% endifequal %} >Profile</a></li>		
                <li><a href="/settings" {% ifequal tab "settings" %}id="currentTab"{% endifequal %} >Settings</a></li>
				{% if is_admin %}
				<li><a href="/admin"{% ifequal tab "admin" %}id="currentTab"{% endifequal %}>Admin</a></li>
				{% endif %}
                <li><a href="/logout" class="loglink">Logout</a></li>
			{% endifequal %}
		</ul>
		<div class="title">
			<h1>Pint</h1>
			<cite>&#8220;Share and enjoy!&#8221;</cite>
		</div>
	</div>
	<div id="mainbox">
		<div id="leftcolumn">
		{% block leftblocs %}
		{% endblock %}
		</div>
		<div id="maincolumn">
			{% block main %}
			{% endblock %}
		</div>
		<div id="footbox">
			&copy; 2009
			<a href="/about">About</a>
		</div>
	</div>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try
		{
			var pageTracker = _gat._getTracker("UA-7258394-1");
			pageTracker._trackPageview();
		} catch(err) {}
	</script>
</body>
</html>
