<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Post to Pintme</title>
	<style type="text/css">
		body
		{
			font-family: sans-serif;
			color: #333;
			font-size: 11pt;
			background: white;
		}

		#mainbox
		{
			padding: 10px;
		}

		.thingbox
		{
			margin: 10px 20px;
		}
	</style>
</head>

<body>
	<div id="mainbox">
		<h3>Post to Pintme</h3>
		<h5>Selected:</h5>
		<div id="selectedbox" class="thingbox">
			No selection.
		</div>
		<h5>Links:</h5>
		<div id="linksbox" class="thingbox">
			No links.
		</div>
		<h5>Images:</h5>
		<div id="imagesbox" class="thingbox">
			No images.
		</div>
	</div>
</body>
</html>
