{% extends "base.html" %}

	{% block head %}
		<link rel="stylesheet" type="text/css" href="/stylesheets/MooEditable.css">
		<script type="text/javascript" src="/scripts/MooEditable.js"></script>
		<script type="text/javascript" src="/scripts/index.js"></script>
	{% endblock %}

{% comment %}
	{% block leftblocs %}
        {% ifequal nickname '' %}
			<div class="messagebox">
				<h3>Greetings anonymous!</h3>
				<p>We don't know who you are, would you care to log in?</p>
			</div>
        {% else %}
			<div class="messagebox">
				<h3>Greetings {{ nickname }}!</h3>
				<p>Why not share some thoughts, or a link, or an image, or...well the sky's the limit!</p>
			</div>
			{% ifequal msg_num 0 %}
				<div class="messagebox">
					<h3>Ow! No messages!</h3>
					<p>Looks like you don't have anything to read...</p>
					<p>Try following someone :)</p>
				</div>
		   {% endifequal %}
		{% endifequal %}
  	{% endblock %}
{% endcomment %}

	{% block top %}
    {% ifnotequal nickname '' %}
	<div id="post-choice-menu">
		<ul>
			<li class="head">Post:</li>
			<li id="texttab"><a href="/post#text" rel="text">Text</a></li>
			<li id="quotetab"><a href="/post#quote" rel="quote">Quote</a></li>
			<li id="linktab"><a href="/post#link" rel="link">Link</a></li>
			<li id="imagetab"><a href="/post#image" rel="image">Image</a></li>
			<li id="mediatab"><a href="/post#media" rel="media">Media</a></li>
			<li class="cap"></li>
		</ul>
	</div>
	{% endifnotequal %}
	{% endblock %}

	{% block main %}
        {% ifnotequal nickname '' %}
		<div id="composer">
			<form action="/post" method="post" id="sharetext">
				<label for="title">Title <i>(optional)</i></label>
				<br/>
				<input type="text" name="title" class="big"/>
				<br/>
				<br/>
				<label for="textpost">Post</label>
				<br/>
				<textarea name="textpost" id="textedit" class="big"></textarea>
				<hidden
				<br/>
				<input type="submit" value="Done!">
			</form>
			<form action="/post" method="post" id="sharequote">
				<label for="quote">Quote</label>
				<br/>
				<textarea name="quote" id="quoteedit" class="small"></textarea>
				<br/>
				<br/>
				<label for="source">Source <i>(Optional)</i></label>
				<textarea name="source" id="sourceedit" class="small"></textarea>
				<input type="submit" value="Done!">
			</form>
			<form action="/post" method="post" id="sharelink">
				<label for="title">Title <i>(optional)</i></label>
				<br/>
				<input type="text" name="title"/>
				<br/>
				<br/>
				<label for="url">URL</i></label>
				<br/>
				<input type="text" name="url">
				<br/>
				<label for="description">Description <i>(optional)</i></label>
				<br/>
				<textarea name="description" id="descedit" class="small"></textarea>
				<br/>
				<input type="submit" value="Done!">
			</form>
			<form action="/post" method="post" enctype="multipart/form-data" id="shareimage">
				<label for="image">Image</label>
				<br/>
				<input type="file" name="image"/>
				<br/>
				<br/>
				<label for="caption">Caption <i>(optional)</i></label>
				<textarea name="caption" id="captionedit" class="small"></textarea>
				<br/>
				<input type="submit" value="Done!">
			</form>
			<form action="/post" method="post" enctype="multipart/form-data" id="sharemedia">
				<label for="embedcode">Embed Code</label>
				<br/>
				<input type="text" name="embedcode"/>
				<br/>
				<br/>
				<label for="description">Description <i>(optional)</i></label>
				<br/>
				<textarea name="description" id="descedit2" class="small"></textarea>
				<br/>
				<input type="submit" value="Done!">
			</form>
		</div>
        {% comment %}
			<div id="composer">
                <ul class="tabs">
                    <li title="shareText" class="toggled"><a href="#text">Text</a></li>
                    <li title="shareImage"><a href="#image">Image</a></li>
                </ul>
				<div id="shareText" class="composer-form toggled">
					<form action="/post" method="post">
						Express yourself!
						<br/>
						<br/>
						<textarea name="textmessage" rows="3" cols="40"></textarea>
						<br/>
						<input type="submit" value="Send">
					</form>
				</div>
				<div id="shareImage" class="composer-form">
					<form action="/post" method="post" enctype="multipart/form-data">
						Post a pic!
						<br/>
						<br/>
						<input type="file" name="imageupload"/>
						<br/>
						<textarea name="imgdesc" rows="3" cols="40"></textarea>
						<br/>
						<input type="submit" value="Upload">
					</form>
				</div>
            </div>
		{% endcomment %}
		{% else %}
			<h2>Welcome to PintMe!</h2>
			<p>A social sharing network <i>you</i> control.</p>
			<p>Here's what people have been posting recently:</p>
        {% endifnotequal %}
	{% endblock %}

	{% block messages %}
        {% for message in messages %}
        <div class="message">
            <div class="author-avatar">
				<a href="/user/{{ message.author.nickname }}">
					<img src="/avatar/{{ message.author.nickname }}" class="avatar-normal" title="{{ message.author.nickname }}" alt="{{ message.author.nickname }}" />
				</a>
            </div>
			<div class="message-header">
				<div class="message-time">{{ message.date|humandate }}</div>
				<div class="message-header-said">
					<a href="/user/{{ message.author.nickname }}"><b>{{ message.author.nickname }}</b></a> said:
				</div>
 			</div>
            <div class="message-content">
				{% if message.image %}
				<a href="/image/{{ message.image.name }}">
					<img src="/thumb/{{ message.image.name }}"  class="avatar-normal" title="{{ message.image.name }}" alt="{{ message.image.name }}" />"
				</a>
				{% endif %}
				{{ message.content|markup }}
				<div class="clearer"></div>
           </div>
        </div>
        {% endfor %}
	{% endblock %}
