{% extends "base.html" %}

	{% block head %}
		<link rel="stylesheet" type="text/css" href="/stylesheets/MooEditable.css">
		<script type="text/javascript" src="/scripts/MooEditable.js"></script>
	{% endblock %}

{% comment %}
	{% block leftblocs %}
        {% ifequal nickname '' %}
			<div class="messagebox">
				<h3>Greetings anonymous!</h3>
				<p>We don't know who you are, would you care to log in?</p>
			</div>
        {% else %}
			<div class="messagebox">
				<h3>Greetings {{ nickname }}!</h3>
				<p>Why not share some thoughts, or a link, or an image, or...well the sky's the limit!</p>
			</div>
			{% ifequal msg_num 0 %}
				<div class="messagebox">
					<h3>Ow! No messages!</h3>
					<p>Looks like you don't have anything to read...</p>
					<p>Try following someone :)</p>
				</div>
		   {% endifequal %}
		{% endifequal %}
  	{% endblock %}
{% endcomment %}

	{% block top %}
    {% ifnotequal nickname '' %}
	<div id="post-choice-menu">
		<ul>
			<li class="head">Post:</li>
			<li id="texttab"><a href="/post#text" rel="text">Text</a></li>
			<li id="quotetab"><a href="/post#quote" rel="quote">Quote</a></li>
			<li id="linktab"><a href="/post#link" rel="link">Link</a></li>
			<li id="imagetab"><a href="/post#image" rel="image">Image</a></li>
			<li id="mediatab"><a href="/post#media" rel="media">Media</a></li>
			<li class="cap"></li>
		</ul>
	</div>
	{% endifnotequal %}
	{% endblock %}

	{% block main %}
        {% ifnotequal nickname '' %}
		<div id="composer">
			<form action="/post/text" method="post" id="sharetext">
				<label for="title">Title <i>(optional)</i></label>
				<br/>
				<input type="text" name="title" class="big"/>
				<br/>
				<br/>
				<label for="textpost">Post</label>
				<br/>
				<textarea name="textpost" id="textedit" class="big"></textarea>
				<hidden
				<br/>
				<input type="submit" value="Post it!">
			</form>
			<form action="/post/quote" method="post" id="sharequote">
				<label for="quote">Quote</label>
				<br/>
				<textarea name="quote" id="quoteedit" class="small"></textarea>
				<br/>
				<br/>
				<label for="source">Source <i>(Optional)</i></label>
				<textarea name="source" id="sourceedit" class="small"></textarea>
				<input type="submit" value="Post it!">
			</form>
			<form action="/post/link" method="post" id="sharelink">
				<label for="title">Title <i>(optional)</i></label>
				<br/>
				<input type="text" name="title"/>
				<br/>
				<br/>
				<label for="url">URL</i></label>
				<br/>
				<input type="text" name="url">
				<br/>
				<label for="description">Description <i>(optional)</i></label>
				<br/>
				<textarea name="description" id="descedit" class="small"></textarea>
				<br/>
				<input type="submit" value="Post it!">
			</form>
			<form action="/post/image" method="post" id="shareimage">
				<label for="image">Image</label>
				<br/>
				<input type="file" name="imageupload"/>
				<br/>
				<br/>
				<label for="caption">Caption <i>(optional)</i></label>
				<textarea name="caption" id="captionedit" class="small"></textarea>
				<br/>
				<input type="submit" value="Done!">
			</form>
			<form action="/post/embed" method="post" enctype="multipart/form-data" id="sharemedia">
				<label for="embedcode">Embed Code</label>
				<br/>
				<input type="text" name="embedcode"/>
				<br/>
				<br/>
				<label for="description">Description <i>(optional)</i></label>
				<br/>
				<textarea name="description" id="descedit2" class="small"></textarea>
				<br/>
				<input type="submit" value="Done!">
			</form>
		</div>
		{% else %}
			<h2>Welcome to PintMe!</h2>
			<p>Helping you get the best in your interest.
			<p><i>So much to see, so little time.</i></p>
			<p>Recently shared:</p>
        {% endifnotequal %}
	{% endblock %}

	{% block messages %}
        {% for message in messages %}
        <div class="message">
            <div class="left-bar">
                <div class="author-avatar">
                    <a href="/user/{{ message.author.nickname }}">
                        <img src="/avatar/{{ message.author.nickname }}" class="avatar-normal" title="{{ message.author.nickname }}" alt="{{ message.author.nickname }}" />
                    </a>
                    <div class="mask"></div>
                </div>
            </div>
            <div class="message-content">
                {% ifequal message.class_name 'TextMsg' %}
                    {% if message.title %}
                        <h3 class="big">{{ message.title }}</h3>
                    {% endif %}
                    {{ message.text }}
                {% endifequal %}
                {% ifequal message.class_name 'QuoteMsg' %}
                    <blockquote class="big">&ldquo;{{ message.quote }}&rdquo;</blockquote>
                    {% if message.source %}
                        {{ message.source }}
                    {% endif %}
                {% endifequal %}
                {% ifequal message.class_name 'LinkMsg' %}
                    <a href="{{ message.url }}" class="big">{{ message.title }}</a>
                    {% if message.description %}
                        {{ message.description }}
                    {% endif %}
                {% endifequal %}
                {% ifequal message.class_name 'ImageMsg' %}
                    <a href="{{ message.imageurl }}" title="{{ message.imageurl }}"><img src="{{ message.imageurl }}" alt="{{ message.imageurl }}"/></a>
                    {% if message.caption %}
                        <div class="caption">{{ message.caption }}</div>
                    {% endif %}
                {% endifequal %}
                {% ifequal message.class_name 'EmbedMsg' %}
                    {{ message.embedcode }}
                    {% if message.description %}
                        {{ message.description }}
                    {% endif %}
                {% endifequal %}
                {% ifequal message.class_name 'Message' %}
                    {{message.content}}
                {% endifequal %}
                <div class="date">{{message.date|humandate}}</div>
				<div class="clearer"></div>
           </div>
        </div>
        {% endfor %}
	{% endblock %}
