{% extends "base.html" %}

	{% block head %}
		<script type="text/javascript" src="/scripts/index.js"></script>
	{% endblock %}

{% comment %}
	{% block leftblocs %}
        {% ifequal nickname '' %}
			<div class="messagebox">
				<h3>Greetings anonymous!</h3>
				<p>We don't know who you are, would you care to log in?</p>
			</div>
        {% else %}
			<div class="messagebox">
				<h3>Greetings {{ nickname }}!</h3>
				<p>Why not share some thoughts, or a link, or an image, or...well the sky's the limit!</p>
			</div>
			{% ifequal msg_num 0 %}
				<div class="messagebox">
					<h3>Ow! No messages!</h3>
					<p>Looks like you don't have anything to read...</p>
					<p>Try following someone :)</p>
				</div>
		   {% endifequal %}
		{% endifequal %}
  	{% endblock %}
{% endcomment %}

	{% block top %}
    {% ifnotequal nickname '' %}
	<div id="post-choice-menu">
		<ul>
			<li class="head">Post:</li>
			<li><a href="/post#text">Text</a></li>
			<li><a href="/post#quote">Quote</a></li>
			<li><a href="/post#link">Link</a></li>
			<li><a href="/post#image">Image</a></li>
			<li><a href="/post#media">Media</a></li>
			<li class="cap"></li>
		</ul>
	</div>
	{% endifnotequal %}
	{% endblock %}

	{% block main %}
        {% ifnotequal nickname '' %}
        {% comment %}
			<div id="composer">
                <ul class="tabs">
                    <li title="shareText" class="toggled"><a href="#text">Text</a></li>
                    <li title="shareImage"><a href="#image">Image</a></li>
                </ul>
				<div id="shareText" class="composer-form toggled">
					<form action="/post" method="post">
						Express yourself!
						<br/>
						<br/>
						<textarea name="textmessage" rows="3" cols="40"></textarea>
						<br/>
						<input type="submit" value="Send">
					</form>
				</div>
				<div id="shareImage" class="composer-form">
					<form action="/post" method="post" enctype="multipart/form-data">
						Post a pic!
						<br/>
						<br/>
						<input type="file" name="imageupload"/>
						<br/>
						<textarea name="imgdesc" rows="3" cols="40"></textarea>
						<br/>
						<input type="submit" value="Upload">
					</form>
				</div>
            </div>
		{% endcomment %}
		{% else %}
			<h2>Welcome to PintMe!</h2>
			<p>A social sharing network <i>you</i> control.</p>
			<p>Here's what people have been posting recently:</p>
        {% endifnotequal %}
	{% endblock %}

	{% block messages %}
        {% for message in messages %}
        <div class="message">
            <div class="author-avatar">
				<a href="/user/{{ message.author.nickname }}">
					<img src="/avatar/{{ message.author.nickname }}" class="avatar-normal" title="{{ message.author.nickname }}" alt="{{ message.author.nickname }}" />
				</a>
            </div>
			<div class="message-header">
				<div class="message-time">{{ message.date|humandate }}</div>
				<div class="message-header-said">
					<a href="/user/{{ message.author.nickname }}"><b>{{ message.author.nickname }}</b></a> said:
				</div>
 			</div>
            <div class="message-content">
				{% if message.image %}
				<a href="/image/{{ message.image.name }}">
					<img src="/thumb/{{ message.image.name }}"  class="avatar-normal" title="{{ message.image.name }}" alt="{{ message.image.name }}" />"
				</a>
				{% endif %}
				{{ message.content|markup }}
				<div class="clearer"></div>
           </div>
        </div>
        {% endfor %}
	{% endblock %}
