{% extends "base.html" %}

	{% block title %}Pint - {{ user.nickname }}{% endblock %}
		
	{% block leftblocs %}
	<div class="navbox">
		<div class="title">
			<h3>Profil</h3>
		</div>
		<div class="content">
            <p>This is {{ called_user.nickname }}'s public profile page.</p>
			<p>It regroups some quick user info.</p>
		</div>
	</div>
	{% endblock %}
	
	{% block main %}
		<h2>{{ called_user.nickname }}</h2>
		<img src="/avatar/{{ called_user.nickname }}"/>
		{% ifnotequal follow "n/a" %}
		<form action="/user/{{ called_user.nickname }}" method="post" class="composer">
		  	<div>
				<input type="submit" value="{% ifequal follow "possible" %}follow{% else %}stop following{% endifequal %}" />
		    </div>
		</form>
		{% endifnotequal %}

		<div class="block">
			<b>Following</b>
			{% if not followed_list %}
				None
			{% else %}
				{% for followed in followed_list %}
						<a href="/user/{{ followed.nickname }}">{{ followed.nickname }}</a>
				{% endfor %}
			{% endif %}
		</div>

		<div class="block">
			<b>Followers</b>
			{% if not followers_list %}
				None
			{% else %}
				{% for follower in followers_list %}
					<a href="/user/{{ follower.nickname }}">{{ follower.nickname }}</a>
				{% endfor %}
			{% endif %}
		</div>

		<h3 class="block">Last messages:</h3>
        {% for message in messages %}
        <div class="message">
            <cite class="{% cycle left,right %}">
				<img src="/avatar/{{ message.author.nickname }}"/>
				<br/>
                <a href="/user/{{ message.author.nickname }}"><b>{{ message.author.nickname }}</b></a>
             </cite>
            <blockquote>
				<p>{{ message.content|markup }}</p>
				<span class="time">{{ message.date|humandate }}</span>
            </blockquote>
        </div>
        {% endfor %}
	{% endblock %}