{% extends "base.html" %}

	{% block title %}Pint - {{ user.nickname }}{% endblock %}
		
	{% block leftblocs %}
	<div class="navbox">
		<div class="title">
			<h3>Profil</h3>
		</div>
		<div class="content">
            <p>This is {{ called_user.nickname }}'s profile page.</p>
			<p>Here you can find some informations about him.</p>
		</div>
	</div>
	{% endblock %}
	
	{% block main %}
		<h2>{{ called_user.nickname }}</h2>
		<img src="/avatar/{{ called_user.nickname }}"/>
		{% ifnotequal follow "n/a" %}
		<form action="/user/{{ called_user.nickname }}" method="post" class="composer">
		  	<div>
				<input type="submit" value="{% ifequal follow "possible" %}follow{% else %}stop following{% endifequal %}" />
		    </div>
		</form>
		{% endifnotequal %}

		<div class="message">
			<cite>
				<b>Following</b>
			</cite>
			<blockquote>
			<p>
			{% for followed in followed_list %}
					<a href="/user/{{ followed.nickname }}">{{ followed.nickname }}</a>
			{% endfor %}
			</p>
			</blockquote>
		</div>
		<div class="message">
			<cite>
				<b>Followers</b>
			</cite>
			<blockquote>
			<p>
			{% for follower in followers_list %}
				<a href="/user/{{ follower.nickname }}">{{ follower.nickname }}</a>
			{% endfor %}
			</p>
			</blockquote>
		</div>

		<p>Last messages:</p>
		{% for message in messages %}
        <div class="message">
            {{ message.date.date }}
            {{ message.date.hour }}:{{ message.date.minute }}
            <blockquote>
                <p>{{ message.content|markup }}</p>
            </blockquote>
        </div>
        {% endfor %}
	{% endblock %}