{% extends "base.html" %}

	{% block title %}Pint - {{ user.nickname }}{% endblock %}

<!--	{% block head %}
		<script type="text/javascript" src="/scripts/Fx.ProgressBar.js"></script>
		<script type="text/javascript" src="/scripts/Swiff.Uploader.js"></script>
		<script type="text/javascript" src="/scripts/profile.js"></script>
	{% endblock %}
-->
	{% block leftblocs %}
		<div class="messagebox">
			<h3>Profile</h3>
			<p>This is {{ profile.nickname }}'s public profile page.</p>
			<p>It regroups some quick user info.</p>
		</div>
	{% endblock %}

	{% block main %}
	<div class="profile-card" id="profile-card">
		<h2 id="nickname">{{ profile.nickname }}</h2>
		<img src="/avatar/{{ profile.nickname }}" class="avatar-normal" id="profile-avatar" />
		<!--	{% ifequal profile.nickname nickname %}
				<br/>
				<a href="/profile" id="change-avatar" rel="{{ avatar_token }}">Change avatar.</a>
			{% endifequal %}
		{% ifnotequal follow "" %} -->
		<form action="/user/{{ profile.nickname }}" method="post">
			<input type="submit" value="{% ifequal follow "possible" %}follow{% else %}stop following{% endifequal %}" />
		</form>
	</div>
		{% endifnotequal %}

		<div class="block">
			<h3>Following</h3>
			{% if not profileFollowed %}
				None
			{% else %}
			<div class="avatar-group">
				{% for followed in profileFollowed %}
						<a href="/user/{{ followed.nickname }}" title="{{ followed.nickname }}">
							<img src="/avatar/{{ followed.nickname }}" alt="{{ followed.nickname }}" class="avatar-small"/>
						</a>
				{% endfor %}
			</div>
			{% endif %}
		</div>

		<div class="block">
			<h3>Followers</h3>
			{% if not profileFollowing %}
				None
			{% else %}
			<div class="avatar-group">
				{% for follower in profileFollowers %}
						<a href="/user/{{ follower.nickname }}" title="{{ follower.nickname }}">
							<img src="/avatar/{{ follower.nickname }}" alt="{{ follower.nickname }}" class="avatar-small"/>
						</a>
				{% endfor %}
			</div>
			{% endif %}
		</div>

		{% ifequal lastfmname 's' %}
		<div class="block">
			<b>Recent tracks:</b>
			<ul>
			{% for track in recentTracks %}
				<li>{{ track }}</li>
			{% endfor %}
			</ul>
		</div>
		{% endifequal %}
	{% endblock %}

	{% block messages %}
        {% for message in messages %}
        <div class="message">
            <div class="author-avatar">
				<a href="/user/{{ message.author.nickname }}">
					<img src="/avatar/{{ message.author.nickname }}"/>
				</a>
            </div>
			<div class="message-header">
				<div class="message-time">{{ message.date|humandate }}</div>
				<div class="message-header-said">
					<a href="/user/{{ message.author.nickname }}"><b>{{ message.author.nickname }}</b></a> said:
				</div>
 			</div>
            <div class="message-content">
				{% if message.image %}
				<a href="/image/{{ message.image.name }}">
				<img src="/thumb/{{ message.image.name }}"
				</a>
				{% endif %}
				{{ message.content|markup }}
				<div class="clearer"></div>
           </div>
        </div>
    {% endfor %}
	{% endblock %}
