{% extends "base.html" %}

	{% block title %}Pint - Account Settings{% endblock %}

	{% block leftblocs %}
		<div class="messagebox">
			<div class="messagebox-top"><div></div></div>
				<div class="messagebox-content">
					<div class="title">
						<h3>Settings</h3>
					</div>
					<div class="content">
						<p>Welcome to your control panel!</p>
						<p>Here you can change your profile and the way you want the site to work for you.</p>
						<p>Change your nick, add posters you want to follow, or even remove them if you're mean...but do whatever you want, it's your profile ;)</p>
					</div>
				</div>
			<div class="messagebox-bottom"><div></div></div>
		</div>
	{% endblock %}

	{% block main %}
	<form action="/settings" method="post">
		<div>
			<p>Want to change your nickname? Enter it here:</p>
			<input type="text" name="nickname" value={{ nickname }} />
			<input type="submit" value="ok" />
		</div>
	</form>
	<img src="/avatar/{{ nickname }}"/>
	<form action="/settings" enctype="multipart/form-data" method="post">
		<div>
			<p>How about changing that avatar?</p>
			<input type="file" name="avatar"/>
            <input type="submit" value="Upload">
		</div>
	</form>
	
	{% ifequal lastfmname '' %}
	<p class="block">If you have a last.fm account, we can use the your statistics in your profile: <a href="/lastfmauth">authorise PintMe</a>.</p>
	{% else %}
	<p class="block">Current Last.fm account: {{ lastfmname }}</p>
	{% endifequal %}
	{% endblock %}
