body
{
	font-family: sans-serif;
	color: #333;
	background-color: #476472;
	font-size: 11pt;
}

a
{
	text-decoration: none;
}

#logo
{
	margin: 5px;
	padding: 15px;
}

.clear
{
	clear: both;
}

/* Avatar Rules */
	
	.avatar-normal
	{
		width: 80px;
		border: 1px #AAA solid;
		padding: 1px;
	}
	
	.avatar-small
	{
		width: 30px;
	}
	
	.avatar-group
	{
		width: 120px;
	}
	
	.avatar-group a img
	{
		width: 30px;
		border: 1px #AAA solid;
		padding: 1px;
		margin: 4px;
	}

/* Mainbox Rules */

	#mainbox
	{
	   background: #ffffff;
	   width: 700px;
	   margin: 20px auto;
	}
	
	#mainbox-header
	{
	   background: url("../images/mainbox-tl.png") no-repeat top left;
	   height: 10px;
	}
	
	#mainbox-footer div
	{
	   background: url("../images/mainbox-bl.png") no-repeat bottom left;
	}
	
	#mainbox-footer
	{
	   background: url("../images/mainbox-br.png") no-repeat bottom right;
	}
	
	#mainbox-footer div, #mainbox-footer
	{
	   width: 100%;
	   height: 8px;
	   font-size: 1px;
	}

	#mainbox-content
	{
		margin: 0 8px;
		clear: both;
	}

/* Userbar Rules */

	#userbar
	{
		background: url("../images/userbox-tlbr.png") no-repeat top left;
		padding-left: 8px;
		margin: 0;
		float: right;
	}
	
	#userbar-ul
	{
		background: url("../images/userbox-bl.png") no-repeat bottom left #476472;
		list-style-type: none;
		margin: 0;
		padding: 5px;
	}
	
	#userbar-ul li
	{
		display: inline;
		margin: 0 5px;
	}
	
	#userbar-ul li a
	{
		color: white;
	}
	
	#userbar-ul li img
	{
		width: 30px;
		padding: 1px;
		border: 1px #AAA solid;
	}

/* MessageBox Rules */

	.messagebox
	{
		width: 200px;
		float: left;
		background: url('../images/message-info.png') 8px 6px no-repeat;
		border-right: 1px solid silver;
		color: #333;
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;
		font-size: smaller;
		padding: 0 10px;
		margin-bottom: 15px;
	}
	
	.messagebox h3
	{
		margin: 5px;
		margin-left: 25px;
		font-size: small;
	}
	
	.messagebox p
	{
		text-align: justify;
	}


#topbox
{
	width: 700px;
}

#leftcolumn
{
	width: 200px;
	margin: 5px;
}

#rightcolumn
{
	margin-left: 240px;
}

#messagecolumn
{
	width: 500px;
	margin: auto;
	margin-top: 20px;
}

#footbox
{
	font-size: 8pt;
	margin: 10px 10px 5px 10px;
	clear: both;
}

#footbox a
{
	margin-right: 5px;
}

/* Messsage Styles */
	.message
	{
		clear: both;
		width: 500px;
		margin: 50px auto;
	}
	
	.message .author-avatar
	{
		float: left;
		margin-right: 10px;
		padding: 1px;
		width: 52px;
	}
	
	.message .author-avatar img
	{
		width: 50px;
		border: 1px #AAA solid;
		margin: auto;
	}
	
	.message .message-header
	{
		border-bottom: 1px #AAA solid;
		font-size: 8pt;
	}
	
	.message .message-header .message-header-said
	{}
	
	.message .message-header .message-time
	{
		float: right;
		text-align: right;
		font-style: italic;
	}
	
	.message .message-content
	{
		text-align: justify;
		font-size: smaller;
	}
	
	.message .message-content img
	{
		border: 1px #AAA solid;
		padding: 2px;
	}
	
	.message .message-content p
	{
		font-family: georgia;
	}
	
	.message .message-content code
	{
		color: red;
	}
	
	.message .message-content .time
	{
		font-size: x-small;
		font-style: italic;
		text-align: right;
	}
	
/* Composer rules */
	#composer
	{
		width: 400px;
	}
	
	#composer .tabs
	{
		list-style-type: none;
		padding: 5px;
		margin: 0;
		background: white;
		border-bottom: 1px silver solid;
	}
	
	#composer .tabs li
	{
		display: inline;
		margin: 0;
		padding: 3px 8px;
		background-color: white;
		color: black;
	}
	
	#composer .tabs li.toggled
	{
		border-bottom: 3px orange solid;
	}
	
	#composer
	{
		position: relative;
	}

	#composer div.composer-form
	{
		position: absolute;
		visibility: hidden;
		padding: 15px;
	}
	
	#composer div.toggled
	{
		visibility: visible;
	}