/* General and abstract rules for the frame of a PintMe style */

body
{
	padding: 0;
	margin: 0;
	
	font: 0.8em/1.5 arial; 
}

#topbox
{
	width: 750px;
	text-align: left;
	margin: auto;
	padding: 0.5em 2em 0 2em;
	position: relative;
}

#topbox #title h1
{
	font-size: x-large;
	margin-bottom: 2em;
	margin: 0;
}

#topbox #title cite
{
	display: inline;
	font-size: large;
	font-style: italic;
	padding-bottom: 5px;
}

#topbox ul#userbox, #topbox ul#userbox li
{
	margin: 0;
	margin-right: 1em;
	padding: 0;
	display: inline;
	list-style-type: none;
}
#topbox ul#userbox
{
	position: absolute;
	bottom: 3px;
	right: 10px;	
}

#topbox ul#userbox li a
{
	border-bottom-width: 3px;
	border-bottom-style: solid;
	padding-bottom: 5px;
	text-decoration: none;
}

#mainbox
{
	width: 800px;
	margin: auto;
}

#mainbox #leftcolumn
{
	float: left;
	width: 210px;
	margin-right: 5px;
	margin-bottom: 5px;	
}

#mainbox #leftcolumn div
{
	margin: 0 10px 10px 0;
	padding: 10px 10px 3px 10px;
}

#mainbox #leftcolumn div .title h3
{
	margin: 0;
}

#mainbox #leftcolumn div .content
{
	padding: 0 10px;
}

#mainbox #maincolumn
{
	margin-top: 0.3em;
	padding: 1em;
}

#mainbox .composer
{
	margin-left: 200px;
	padding: 10px;
}

#mainbox ul.composer_controls
{
	float: left;
	list-style-type: none;
	width: 75px;
	text-align: right;
	padding: 10px 0;
	margin: 0;
}

#mainbox ul.composer_controls li
{
	margin-bottom: 7px;
}

#mainbox ul.composer_controls li a
{
	text-decoration: none;
	padding: 2px 20px 2px 5px;
}

#mainbox .composer_form
{
	border-left-width: 2px;
	border-left-style: solid;
	margin-left: 75px;
	padding: 10px;
}

#mainbox #footbox
{
	text-align: center;
	margin-top: 0.3em;
	margin-left: 220px;
	font-size: x-small;
}

.message
{
	margin-left: 220px;
	margin-top: 30px;
}

.message cite
{
	float: left;
}

.message cite img
{
	width: 50px;
}

.message blockquote
{
	padding: 5px;
	margin-left: 60px;
	border-left: 2px solid;
	border-color: inherit;
}

.block
{
	margin-left: 220px;
}