body
{
	font-family: sans-serif;
	color: #333;
	background-color: #476472;
	font-size: 11pt;
}

#logo
{
	background: url("../images/logo.png") no-repeat center;
	width: 122px;
	height: 54px;
	margin: 15px 30px;
}

/* mainbox rules */
	#userbar
	{
		margin-right: 80px;
		color: white;
		background: #1C4381;
		float: right;
	}
	#userbar-top div
	{
	   background: url("../images/messagebox-tl.png") no-repeat top left;
	}
	#userbar-top
	{
	   background: url("../images/messagebox-tr.png") no-repeat top right;
	}
	#userbar-bottom div
	{
	   background: url("../images/messagebox-bl.png") no-repeat bottom left;
	}
	#userbar-bottom
	{
	   background: url("../images/messagebox-br.png") no-repeat bottom right;
	}
	#userbar-top div, #userbar-top, #userbar-bottom div, #userbar-bottom
	{
	   width: 100%;
	   height: 8px;
	   font-size: 1px;
	}
	#userbar-content
	{
		margin: 0 3px;
	}
	#userbar-ul
	{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	#userbar-ul li
	{
		display: inline;
		margin: 0 5px;
	}
	#userbar-ul li a
	{
		color: white;
	}


/* mainbox rules */
	.mainbox
	{
	   background: #ffffff;
	   width: 900px;
	   margin: 20px auto;
	}
	.mainbox-top div
	{
	   background: url("../images/mainbox-tl.png") no-repeat top left;
	}
	.mainbox-top
	{
	   background: url("../images/mainbox-tr.png") no-repeat top right;
	}
	.mainbox-bottom div
	{
	   background: url("../images/mainbox-bl.png") no-repeat bottom left;
	}
	.mainbox-bottom
	{
	   background: url("../images/mainbox-br.png") no-repeat bottom right;
	}
	.mainbox-top div, .mainbox-top, .mainbox-bottom div, .mainbox-bottom
	{
	   width: 100%;
	   height: 8px;
	   font-size: 1px;
	}
	.mainbox-content
	{
		margin: 0 8px;
	}

/* mainbox rules */
	.messagebox
	{
		float: left;
		color: white;
		background: #1C4381;
		width: 250px;
		margin: 5px;
	}
	.messagebox-top div
	{
		background: url("../images/messagebox-tl.png") no-repeat top left;
	}
	.messagebox-top
	{
		background: url("../images/messagebox-tr.png") no-repeat top right;
	}
	.messagebox-bottom div
	{
		background: url("../images/messagebox-bl.png") no-repeat bottom left;
	}
	.messagebox-bottom
	{
		background: url("../images/messagebox-br.png") no-repeat bottom right;
	}
	.messagebox-top div, .messagebox-top, .messagebox-bottom div, .messagebox-bottom
	{
		width: 100%;
		height: 8px;
		font-size: 1px;
	}
	.messagebox-content
	{
		margin: 0 8px;
		padding: 5px;
	}


#topbox
{
	width: 950px;
}

#leftcolumn
{
	width: 200px;
	margin: 5px;
}

#maincolumn
{
	margin-left: 280px;
}

#footbox
{
	font-size: 8pt;
	margin: 10px 10px 5px 10px;
}

.clearer
{
	clear: both;
}

/* Messsage Styles */
	.message
	{
		clear: both;
		width: 600px;
		margin: 50px 10px;
	}
	
	.message cite
	{
		padding: 3px;
		text-align: center;
		font-size: 9pt;
		float: left;
		width: 50px;
		border: 1px solid #CCC;
	}
	
	.message cite img
	{
		width: 40px;
	}
	
	.message blockquote
	{
		padding: 3px 5px;
		margin-left: 60px;
	}