body
{
	font-family: sans-serif;
	font-size: 11pt;
	background-color: #444477;
	margin: 0;
}

h3
{
	color: white;
}

#mainbox
{
	color: #333;
	margin: 10px;
	background: white;
	width: 400px;
	height: 480px;
}

#tabs
{
	list-style-type: none;
	padding: 3px 0;
	margin: 0;
	background-color: #444477;
	text-align: center;
}

#tabs li
{
	display: inline;
	padding: 3px 10px;
	background-color: silver;
	cursor: pointer;
}

#tabs li.first
{
	background-color: white;
}

#content
{
	padding: 10px;
}

#content .contentbox
{
	position: absolute;
	margin: 5px;
}

#pageUrl
{
	display: block;
}

#pageQuote, #pageImgs
{
	display: none;
	background-color: white;
}

#content .imagebox
{
	border: 1px gray solid;
	height: 100px;
	width: 365px;
	overflow: auto;
}

#content .imagebox img
{
	max-width: 100px;
}

form label
{
	font-size: 12pt;
	font-weight: bold;
}

form input, form textarea
{
	width: 365px;
	border: 1px #CCC solid;
	background-color: #EEE;
	padding: 2px;
}

form textarea
{
	height: 150px;
}

.clear
{
	clear: both;
}

.nodisplay
{
	visibility: hidden;
}
