body
{
	font-family: sans-serif;
	color: #333;
	background-color: #1f1f1f;
	font-size: 11pt;
}

#mainbox
{
	color: #333;
	margin: 10px;
	width: 400px;
	height: 480px;
}

#tabs
{
	list-style-type: none;
	padding: 10px 20px;
	background: url('../images/logo-small.png') 15px center no-repeat #1f1f1f;
	text-align: right;
	margin-bottom: 0;
}

#tabs li
{
	display: inline;
	padding: 7px 10px;
	background-color: silver;
	cursor: pointer;
	border-bottom: 3px #1f1f1f solid;
}

#content
{
	height: 450px;
	padding: 10px;
	background: url("../images/bmback.png") no-repeat top left #1F1F1F;
}

#content .contentbox
{
	position: absolute;
	margin: 5px;
	visibility: hidden;
}

#content .imagebox
{
	border: 1px gray solid;
	height: 100px;
	width: 365px;
	overflow: auto;
}

#content .imagebox img
{
	margin: 10px;
	padding: 1px;
	border: 2px white solid;
}

form label
{
	font-size: 10pt;
	padding: 3px 5px;
	color: #998;
}

form label i
{
	font-size: 8pt;
}

form input[type="text"], form textarea
{
	width: 360px;
	border: 1px #CCC solid;
	background-color: #EEE;
	padding: 2px;
	background-color: white;
	border: 2px #DDD solid;
}

form input.big
{
	font-size: 15pt;
	padding: 2px;
}

form textarea.small
{
	height: 100px
}

form textarea.big
{
	height: 200px;
}

.clear
{
	clear: both;
}

.nodisplay
{
	visibility: hidden;
}
