body
{
	font-family: sans-serif;
	color: #333;
	background-color: #1f1f1f;
	font-size: 11pt;
}

.clear
{
	clear: both;
	height: 20px;
}

a
{
	text-decoration: none;
	color: white;
}

a:hover
{
	color: #FB4B03;
}

#root
{
	width: 620px;
	margin: 0 auto;
}

#root #logo
{
	width: 400px;
	margin: 5px auto;
	padding: 5px;
}

/* Avatar Rules */

	.avatar-normal
	{
		width: 80px;
		border: 1px #AAA solid;
		padding: 1px;
	}

	.avatar-small
	{
		width: 30px;
	}

	.avatar-group
	{
		width: 120px;
	}

	.avatar-group a img
	{
		width: 30px;
		border: 1px #AAA solid;
		padding: 1px;
		margin: 4px;
	}

/* Mainbox Rules */

	#main
	{
	   background: white;
	   width: 620px;
	   margin: 5px auto;
	}

	#main #header
	{
	   background: url("../images/white-tl.png") no-repeat top left;
	   height: 10px;
	}

	#main #footer div
	{
	   background: url("../images/white-bl.png") no-repeat bottom left;
	}

	#main #footer
	{
	   background: url("../images/white-br.png") no-repeat bottom right;
	}

	#main #footer div, #main #footer
	{
	   width: 100%;
	   height: 10px;
	   font-size: 1px;
	}

	#main #content
	{
		margin: 0 8px;
		clear: both;
		padding: 0 20px;
	}

/* Post choice menu Rules */

	#post-choice-menu
	{
		width: 400px;
		height: 100px;
		padding: 8px 11px;
	}

	#post-choice-menu ul
	{
		height: 60px;
		margin: 0;
		padding: 0 7px 0 0;
		list-style-type: none;
	}

	#post-choice-menu ul li
	{
		display: block;
		margin: 0 3px 0 0;
		padding: 10px 13px;
		float: left;
		height: 20px;
		text-align: center;
		vertical-align: middle;
		color: white;
		background-color: #1f1f1f;
	}

	#post-choice-menu ul li.head
	{
		background: left top url('../images/redbox-left.png') no-repeat;
		width: 40px;
		padding: 10px 5px 10px 5px;
	}

	#post-choice-menu ul li.cap
	{
		background: right top url('../images/redbox-right.png') no-repeat;
		padding: 10px 3px;
	}

/* Userbar Rules */

	#userbar
	{
		background: url("../images/white-tr-small.png") no-repeat top left;
		padding-left: 4px;
		margin: 0;
		float: right;
		color: white;
	}

	#userbar-ul
	{
		background: url("../images/white-bl-inv-small.png") no-repeat bottom left #1f1f1f;
		list-style-type: none;
		margin: 0;
		padding: 5px;
	}

	#userbar-ul li
	{
		display: inline;
		margin: 0 5px;
	}

	#userbar-ul li img
	{
		width: 30px;
		padding: 1px;
		border: 1px #AAA solid;
	}

/* MessageBox Rules */

	.messagebox
	{
		width: 200px;
		float: left;
		background: url('../images/message-info.png') 8px 6px no-repeat;
		border-right: 1px solid silver;
		color: #333;
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;
		font-size: smaller;
		padding: 0 10px;
		margin-bottom: 15px;
	}

	.messagebox h3
	{
		margin: 5px;
		margin-left: 25px;
		font-size: small;
	}

	.messagebox p
	{
		text-align: justify;
	}


#topbox
{
	width: 700px;
}

#leftcolumn
{
	width: 200px;
	margin: 5px;
}

#rightcolumn
{

}

#messagecolumn
{
	width: 500px;
	margin: auto;
	margin-top: 20px;
}

#foot
{
	font-size: 8pt;
	margin: 5px auto;
	clear: both;
	width: 450px;
	text-align: right;
	color: #888;
}

#foot a
{
	margin-right: 5px;
	color: #888;
}

#foot a:hover
{
	color: #FB4B03;
}

/* Messsage Styles */
	.message
	{
		clear: both;
		width: 500px;
		margin: 50px auto;
	}

	.message .author-avatar
	{
		float: left;
		margin-right: 10px;
		padding: 1px;
		width: 52px;
	}

	.message .author-avatar img
	{
		width: 50px;
		border: 1px #AAA solid;
		margin: auto;
	}

	.message .message-header
	{
		border-bottom: 1px #AAA solid;
		font-size: 8pt;
	}

	.message .message-header .message-header-said
	{}

	.message .message-header .message-time
	{
		float: right;
		text-align: right;
		font-style: italic;
	}

	.message .message-content
	{
		text-align: justify;
		font-size: smaller;
	}

	.message .message-content img
	{
		border: 1px #AAA solid;
		padding: 2px;
	}

	.message .message-content p
	{
		font-family: georgia;
	}

	.message .message-content code
	{
		color: red;
	}

	.message .message-content .time
	{
		font-size: x-small;
		font-style: italic;
		text-align: right;
	}

/* Composer rules */
	#composer
	{
		width: 580px;
		position: relative;
		padding: 10px;
		height: 500px;
	}

	#composer form
	{
		position: absolute;
		visibility: hidden;
		padding: 15px;
		clear: both;
	}

	#composer form label
	{
		color: #616A6D;
		font-size: 10pt;
	}

	#composer form label i
	{
		font-size: 8pt;
	}

	#composer form textarea, #composer form input[type="text"]
	{
		width: 500px;
		padding: 5px;
		border: 2px solid #ddd;
	}

	#composer form textarea.small
	{
		height: 150px;
	}

	#composer form textarea.big
	{
		height: 300px;
	}

	#composer form input.big
	{
		font-size: 16pt;
	}
