body
{
	font-family: Verdana;
	background-color: #BDD684;
	color: #BDD684;
	text-align: left;
	margin: 0;
}

#header
{
	color: #E2F0D6;
	margin-left: 190px;
}

#header a.loglink
{
	float: right;
	padding: 0;
}

#header h1
{
	display: inline
}

#mainbox
{
	margin: 20px auto;
	width: 900px
}

#tabmenu
{
	padding: 3px 0;
	margin-left: 0;
	font: bold 12px Verdana, sans-serif;
	background-color: #BDD684;
}

#tabmenu li
{
	list-style: none;
	margin: 0;
	display: inline;
}

#tabmenu li a
{
	padding: 3px 0.5em;
	margin-right: 3px;
	background: #95AB63;
	text-decoration: none;
	color: white;
}

#tabmenu li a:hover
{
	border-bottom: #FF7F2A solid 4px;
}

#tabmenu li a#current
{
	background: white;
	color: #95AB63;
	border: none;
}

#maincontent
{
	background-color: white;
	margin-left: 300px;
	min-height: 500px;	
	padding-bottom: 20px;
}

#rightnav
{
	float: left;
	width: 300px;
	padding-top: 15px
}

#rightnav .navbox
{
	width: 250px;
	margin: 0 auto 30px auto;
	font-size: 9pt;
}

#rightnav .navbox .title
{
	text-align: right;
}

#rightnav .navbox .title h3
{
	margin-bottom: 0;
	background: white;
	display: inline;
	text-align: right;
	padding: 3px 10px;
	color: #95AB63;
}

#rightnav .navbox .content
{
	margin: 0;
	background-color: white;
	padding: 5px 10px;	
}

form.composer
{
	width: 300px;
	margin: 30px auto 15px auto;
	font-size: 9pt;
}

form.composer textarea, form.composer input
{
	width: 300px;
	color: #555;
}

div.message
{
	width: 300px;
	margin: 30px auto 15px auto;
	font-size: 9pt;
}

div.message blockquote
{
    background-color: #FFF;
	margin: 0px;
	padding: 0 10px;
	border: 1px solid #BDD684;
}

div.message cite
{
	position: relative;
	display: block;
	margin: 0px;
	padding-left: 15px;
	padding-top: 7px;
	top: -1px; /* 1px less than padding-top */
	font-style: normal;
}

div.message cite.left
{
	background: transparent url(tip.gif) no-repeat 20px 0;
}

div.message cite.right
{
	background: transparent url(tip.gif) no-repeat 260px 0;
	text-align: right;
}

ul#footer
{
	margin-left: 300px;
	padding: 0;
	text-align: center;
	color: white;
	font-size: 8pt;
}

ul#footer li
{
	display: inline;
	padding: 0;
	margin: 0;
}

b
{
    color: #FF7F2A;
}

a
{
    color: #95AB63;
}
